body {
  background: url("../images/pawel-czerwinski-qzaIDFtzcZ0-unsplash\ \(1\).jpg") no-repeat center center fixed; 
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
